.container {
    padding: 0;
    max-width: 2500px;
    min-height: calc(100vh - 170px);
}

@media (min-width: 2500px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }
}
